html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $ff-main;
  font-size: $font-size;
  line-height: $line-height;
}

ul,
ol {
  list-style-type: none;
}