section.top-bar
  .logo
      a.logo__link(href="#")
        +icon("logo", "logo__icon")
        span.logo__text Sonex
  .info
    .info__item
      +icon("clock", "info__icon")
      .info__discription 
        p.info__important Mon - Sat: 9:00 - 18:00
        p.info__primary Sunday CLOSED
    .info__item
      +icon("location", "info__icon")
      .info__discription  
        p.info__important 267 Park Avenue
        p.info__primary New York, NY 90210
    .info__item
      +icon("phone", "info__icon")
      .info__discription 
        p.info__important (123) 45678910
        p.info__primary info@demolink.org        
        
  